.attractions_page {
    margin-top: 2em;
    margin-bottom: 2em;

    .attr_list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        .attr_bloc {
            // display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1em;
            border-radius: 50px;
            width: 12em;
            height: 12em;
            justify-content: flex-end;
            margin: 1em;
            display: none;

            img {
                width: 10em;
                margin-bottom: 1em;
            }

            span {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }
        }

        .show {
            display: flex;
        }
    }
}

@media(max-width: 600px) {
    .attraction_filter {
        p {
            font-size: 0.8em;
        }
    }
}

@media(max-width: 500px) {
    .attraction_filter {
        p {
            font-size: 0.6em;
        }
    }
}


@media(max-width: 360px) {
    .attraction_filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-size: 0.8em;
        }
    }
}