@font-face {
    font-family: "Commando";
    src: url("./fonts/commando.eot");
    /* IE9 Compat Modes */
    src: url("./fonts/commando.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("./fonts/commando.otf") format("opentype"),
        /* Open Type Font */
        url("./fonts/commando.svg") format("svg"),
        /* Legacy iOS */
        url("./fonts/commando.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("./fonts/commando.woff") format("woff"),
        /* Modern Browsers */
        url("./fonts/commando.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}


h1 {
    text-align: center;
    font-size: 1.5em;
}

.container{
    display: block;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

a {

    color: #F6CD40;
    text-decoration: none;
}

a:hover {
    color: white;
}

ul {
    list-style-type: none;
}

.fa-chevron-circle-up {
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-size: 2em;
    z-index: 1;
    color: #F6CD40;
    visibility: hidden;
}


.background_gradient {
    background: linear-gradient(to right, #1C1F3D, #5A266D);
    background: -o-linear-gradient(to right, #1C1F3D, #5A266D);
    background: -moz-linear-gradient(to right, #1C1F3D, #5A266D);
    background: -webkit-linear-gradient(to right, #1C1F3D, #5A266D);
    background: -khtml-linear-gradient(to right, #1C1F3D, #5A266D);
    background: -ms-linear-gradient(to right, #1C1F3D, #5A266D);
}

.selected {
    border: 1px red solid;
}

.valid_btn, .change_btn {
    padding: 1em 3em;
    font-family: 'Josefin Sans', sans-serif;
    color: #F6CD40;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.valid_btn:hover, .change_btn {
    color: white;
}

.attraction_filter {
    display: flex;
    justify-content: space-around;
    color: white;
    border-radius: 50px;
    margin-bottom: 3em;

    p {
        cursor: pointer;
    }

    .active {
        color: #F6CD40;
    }
}


@media(min-width:768px){
    .container{
        max-width: 720px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

@media(min-width:992px){
    .container{
        max-width: 960px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

@media(min-width:1200px){
    .container{
        max-width: 1140px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

