.detail_page {
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;

    h1 {
        font-family: 'Commando', sans-serif;
    }
    .intro {
        margin-top: 2em;
        margin-bottom: 2em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        .infos {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 1em;
            border-radius: 50px;
            color: #F6CD40;
            align-items: center;

            .bold {
                font-weight: color;
            }
        }

    }

    .describe {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .attr_image {
        width: 80vw;
    }

    .attr_image, iframe {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media(max-width: 645px) {
    .detail_page {
        .intro {
            flex-direction: column;

            .infos {
                margin-top: 3em;
            }
        }
    }
}


@media(max-width: 590px) {
    .detail_page {
        .intro {
            .logo {
                width: 80%;
            }
        }
        iframe, .attr_image {
            width: 90%;
        }
    }
}