.top_footer {
    padding: 1em;
    background-color: #5A266D;
    color: white;
    display: flex;
    justify-content: space-around;


    ul {
        margin: 0;
        padding: 0;

        h3 {
            color: #F6CD40;
        }

        a {
            color: white;
        }

        a:hover {
            color: #F6CD40;
        }

        li {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }

    .social {
        text-align: center;

        i {
            font-size: 2em;
        }
    }

    .contact {
        text-align: center;

        .num {
            font-size: 1.5em;
        }
    }
}

.bottom_footer {
    background-color: #282C53;
    margin: 0;
    padding: 1em;
    text-align: center;
}

@media(max-width: 1100px) {
    .top_footer {

        ul {
            width: 30%;
            margin-right: 1em;
            margin-left: 1em;
        }

        .contact {
            .num {
                font-size: 1em;
            }
        }
    }
}

@media(max-width: 600px) {
    .top_footer {
        flex-direction: column;
        align-items: center;

        ul {
            width: 100%;
            text-align: center;
        }
        .social {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}