.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5A266D;
    margin: 0;
    padding: 1em;

    .logo {
        width: 10em;
    }

    .header_buttons {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1em;
        color: white;

        .user_info {
            margin-right: 3em;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 6em;
            }
            
            p {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }
        }
        .fa-user-circle {
            font-size: 3em;
            margin-right: 1em;
        }

        .lang_ticket {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 8em;
            align-items: center;

            i {
                font-size: 2em;
            }

            .fa-power-off {
                font-size: 1em;
            } 
        }
    }
}

nav {
    background-color: #282C53;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 1em;

        a {
            font-family: 'Commando', sans-serif;
            color: #F6CD40;
            font-weight: bold;
        }

        a:hover {
            color: white;
        }
    }

    #responsive_menu {
        display: none;
        text-align: center;

        i {
            font-size: 1.5em;
            padding: 0.5em;
            cursor: pointer;
        }

        .fa-times {
            display: none;

        }

        #list_menu {
            display: none;
            text-align: center;
            margin-top: 0;

            li {
                margin: 0.5em;
            }
        }
    }
}



@media(max-width: 768px) {
    nav {
        #menu {
            display: none;
        }

        #responsive_menu {
            display: block
        }
    }
}

@media(max-width: 500px) {
    .top_header {
        flex-direction: column;
        align-items: center;

        .logo {
            margin-bottom: 1em;
        }

        .header_buttons {
            width: 100%;
            justify-content: space-around;
        }
    }
}