#carousel {
    margin: 0;
    width: 100%;
    position: relative;

    .fas {
        font-size: 2em;
        color: #F6CD40;
        cursor: pointer;
    }

    .previous {
        position: absolute;
        top: 50%;
        left: 2%;
    }

    .next {
        position: absolute;
        top: 50%;
        right: 2%;
    }

    ul {
        margin: 0;
        width: 100%;
        padding: 0;

        img {
            width: 100%;
            height: 500px;
        }
    }
}


.home_content {

    .present {
        margin-top: 5em;
        margin-bottom: 5em;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .park {
            width: 30em;
            transition: ease 0.5s;
        }


        .park:hover {
            transform: scale(1.3);
            transition: ease 0.5s;
        }


        p {
            width: 30%;

            span {
                font-weight: bold;
            }
        }
    }

    .park_infos {
        border-radius: 50px;
        display: flex;
        justify-content: space-around;
        width: 70%;
        padding: 1em;
        margin: 4em auto;
        text-align: center;
    }

    ul {
        font-family: 'Commando', sans-serif;
        color: #F6CD40;
        font-size: 2em;
        padding: 0;
    }

    .attraction {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        margin: 2em auto;

        img {
            width: 8em;
            transition: ease 0.5s;
        }

        img:hover {
            // animation: bounce 0.35s ease infinite alternate;


            // @keyframes bounce {
            //     from {
            //         transform: translateY(0);
            //     }

            //     to {
            //         transform: translateY(-40px);
            //     }
            // }
            // @-o-keyframes bounce {
            //     from {
            //         transform: translateY(0);
            //     }

            //     to {
            //         transform: translateY(-40px);
            //     }
            // }
            // @-moz-keyframes bounce {
            //     from {
            //         transform: translateY(0);
            //     }

            //     to {
            //         transform: translateY(-40px);
            //     }
            // }
            // @-webkit-keyframes bounce {
            //     from {
            //         transform: translateY(0);
            //     }

            //     to {
            //         transform: translateY(-40px);
            //     }
            // }
            // @-ms-keyframes bounce {
            //     from {
            //         transform: translateY(0);
            //     }

            //     to {
            //         transform: translateY(-40px);
            //     }
            // }
            transform: scale(1.3);
            transition: ease 0.5s;
        }
    }
}

@media(max-width: 992px) {
    #carousel {
        ul {
            img {
                height: 400px;
            }
        }
    }

    .home_content {
        .present {
            margin-top: 3em;
            margin-bottom: 3em;

            .park {
                width: 25em;
            }

            .park:hover {
                transform: scale(1.2);
            }
        }

        .park_infos {
            font-size: 0.9em;
            width: 95%;
        }

        .attraction {
            img {
                width: 6em;
            }
        }
    }
}

@media(max-width: 768px) {
    #carousel {
        ul {
            img {
                height: 200px;
            }
        }
    }

    .home_content {
        .present {
            .park {
                width: 20em;
            }

            .park:hover {
                transform: scale(1.1);
            }
        }

        .park_infos {
            font-size: 0.8em;
        }
    }
}

@media(max-width: 590px ) {
    .home_content {
        .present {
            flex-direction: column;
            align-items: center;

            .park {
                margin-bottom: 3em;
            }

            .park:hover {
                transform: none;
            }

            p {
                width : 90%;
            }
        }

        .park_infos {
            font-size: 0.4em;
        }

        .attraction {
            flex-direction: column;
            margin: 1em auto;
            
            img:hover {
                animation: none;
            }
        }
    }
}