.log_bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;

    h2 {
        margin-bottom: 1em;
    }

    a:hover {
        color: #F6CD40;
        font-weight: bold;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form_cat {
        margin: 0.5em;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    

        .avatar_image {
            display: flex;
            justify-content: space-between;
            margin-top: 1em;
            margin-bottom: 1em;

            .image_choice {
                width: 5em;
            }
        }

        p,
        input {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            height: 2em;
            font-size: 1em;
        }

        label {
            align-self: center;
        }

    }

}


@media(max-width: 400px) {
    .log_bloc {
        .form_cat {
            .avatar_image {
                .image_choice {
                    width: 4em;
                }
            }
        }
    }
}