.legend {
    display: flex;
    justify-content: space-around;

    .legend_bloc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3em;
        margin-bottom: 1em;
        cursor: pointer;

        img {
            width: 4em;
        }

        .legend_bold {
            font-weight: bold;
        }
    }
}


.map_content {
    position: relative;

    #mapid {
        height: 500px;
        margin-top: 1em;
        margin-bottom: 2em;
        background-color: #EBEBEB;
        border: 1px solid black;
    }

    .message {
        opacity: 0.5;
    }

    #ctrl_message {
        position: absolute;
        top: 45%;
        left: 15%;
        font-size: 3em;
        margin: 0;

    }
}

h3 {
    text-align: center;
}

