.tickets_page {
    text-align: center;
    margin-bottom: 2em;

    .prices {
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #F6CD40;
        padding: 1em;
        width: 70%;
        margin: auto;

        .prices_list {
            display: flex;
            width: 100%;
            flex-direction: column;

            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 0.5em 0;
                padding: 0;

                li {
                    font-size: 1em;
                    width: 33%;
                }

                .tickets_number {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    input {
                        width: 2em;
                        border: 0;
                        padding: 0;
                        font-size: 1.5em;
                        text-align: center;
                        color: white;
                        background: 0 0;
                    }
                }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

        }

        .line {
            width: 80%;
            border: 1px solid white;
            margin-top: 2em;
        }

        .amount_bloc {
            display: flex;
            justify-content: space-evenly;
            font-size: 2em;
            width: 100%;

        }
    }
}


.inactive {
    pointer-events: none;
    color: black;
    cursor: none;
}

@media(max-width: 600px) {
    .tickets_page {
        .prices {
            .prices_list {
                ul {
                    flex-direction: column;
                    margin: 1em 0;

                    li {
                        width: 100%;
                        margin: 0.5em 0;
                    }
                }
            }

            .amount_bloc {
                font-size: 1.5em;
            }
        }
    }
}